# =============================================================================
# i Assistant - Infrastructure Master Environment Variables (Docker) - Template
# =============================================================================
# Copy this file to .env and update the values according to your environment.
# This file is primarily used by docker-compose.yml to establish the infrastructure.

# PostgreSQL Configuration
POSTGRES_DB=i_DB
POSTGRES_USER=esan
POSTGRES_PASSWORD=Admin_1234_1234

# MinIO Configuration
MINIO_ROOT_USER=esan
MINIO_ROOT_PASSWORD=Admin_1234_1234