[phases.setup]
nixPkgs = ["python3", "postgresql_16.dev", "ffmpeg-headless", "gcc", "g++", "curl", "wget", "libsndfile1", "sox", "libsox-dev"]

[phases.install]
cmds = [
  "python -m venv --copies /opt/venv",
  ". /opt/venv/bin/activate && pip install --upgrade pip",
  ". /opt/venv/bin/activate && pip install -r requirements.txt"
]

[start]
cmd = "source /opt/venv/bin/activate && uvicorn app.main:app --host 0.0.0.0 --port ${PORT:-8000}"

